*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section.three-column-design-task{
    display: flex;
    flex-direction: row;
}

.first-column, .second-column, .third-column{
    color: rgba(255, 255, 255, 0.884);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    flex-grow: 1;
}

.first-column{
    background: #E28827;
}

.second-column{
    background: #316A70;
}

.third-column{
    background: #1C4241;
}

img{
    color: white;
    opacity: 70%;
    width: 10%;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
    width: 70%;
}

button{
    width: 70%;
    height: 8vh;
    border: none;
    font-weight: bold;
    border-radius: 40px;
}

button.first{
    color: #E28827;
}

button.second{
    color: #316A70;
}

button.third{
    color: #1C4241;
}
button.btn-grid{
    width: 50%;
    height: 10vh;
    position: absolute;
    background: none;
    bottom: 0%;
    left: -15%;
}

a{
    font-weight: normal;
    color: white;
}